In [1]:
import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv('movies.csv')

In [3]:
movie.shape

(9742, 3)

In [4]:
ratings = pd.read_csv('ratings.csv')

In [5]:
ratings.shape

(100836, 4)

In [6]:
# How many unique "userId" are available in "ratings.csv"?

In [7]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
ratingsuniqueid=list(ratings['userId'].unique())

In [9]:
count = 0
for i in ratingsuniqueid:
    count+=1
print(count)

610

In [10]:
# Which movie has recieved maximum number of user ratings?

In [11]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [13]:
data_merged=pd.merge(ratings, movie, on='movieId', how='left')

In [14]:
data_merged

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,1494273047,Get Out (2017),Horror
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [15]:
ratings_count = data_mergred['movieId'].value_counts().reset_index()
ratings_count.columns = ['movieId', 'number_of_ratings']

NameError: name 'data_mergred' is not defined

In [ ]:
ratings_count

In [1]:
max_rated_movie = pd.merge(ratings_count, movie, on='movieId')
max_rated_movie = max_rated_movie.loc[max_rated_movie['number_of_ratings'].idxmax()]

NameError: name 'pd' is not defined

In [ ]:
max_rated_movie,max_rated_movie

In [ ]:
# Select all the correct tags submitted by users to "Matrix, The (1999)" movie?

In [ ]:
tags = pd.read_csv('tags.csv')

In [ ]:
tags

In [ ]:
movie.head()

In [ ]:
matrix_movie_id = movie[movie['title'] == "Matrix, The (1999)"]['movieId'].values[0]
matrix_tags = tags[tags['movieId'] == matrix_movie_id]

print(matrix_tags[['tag']])

In [ ]:
# What is the average user rating for movie named "Terminator 2: Judgment Day (1991)"?

In [ ]:
movie

In [ ]:
terminatorid= movie[movie['title'] == 'Terminator 2: Judgment Day (1991)']['movieId'].values[0]

In [ ]:
terminatorRating = ratings[ratings['movieId'] == terminator_movie_id]

In [ ]:
avg = terminatorRating['rating'].mean()

In [ ]:
terminatorid,avg

In [ ]:
# How does the data distribution of user ratings for "Fight Club (1999)" movie looks like?

In [ ]:
movie

In [ ]:
# How does the data distribution of user ratings for "Fight Club (1999)" movie looks like?

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
fight_club = ratings[ratings['movieId'] == 6]

In [17]:
fight_club

       userId  movieId  rating   timestamp
2           1        6     4.0   964982224
564         6        6     4.0   845553757
1259       11        6     5.0   902154266
1774       18        6     4.0  1460138360
3781       23        6     4.0  1107342267
...       ...      ...     ...         ...
92626     599        6     4.5  1498539623
95966     602        6     3.0   840876055
96101     603        6     4.0   963177624
97046     604        6     3.0   832080355
99535     610        6     5.0  1493850345

[102 rows x 4 columns]

In [18]:
sns.set(style='whitegrid')

plt.figure(figsize=(8, 5))
sns.histplot(fight_club['rating'], bins=4, kde=True, color='purple', edgecolor='black', linewidth=0.5)
plt.title('Distribution of User Ratings for "Fight Club (1999)"', fontsize=16)
plt.xlabel('Rating', fontsize=14)
plt.ylabel('Frequency', fontsize=14)
plt.xticks([1, 2, 3, 4, 5])  
plt.yticks(fontsize=12)
plt.grid(axis='y', alpha=0.75)

max_rating = fight_club_ratings['rating'].max()
plt.annotate(f'Max Rating: {max_rating}', xy=(max_rating, 1), xytext=(max_rating+0.2, 2),
             arrowprops=dict(facecolor='black', shrink=0.05), fontsize=12)

plt.tight_layout()
plt.show()

NameError: name 'sns' is not defined

In [ ]:
#

In [19]:
grouped_ratings = ratings.groupby('movieId').agg(count=('rating', 'count'), mean_rating=('rating', 'mean')).reset_index()

new_data = pd.merge(movie, grouped_ratings, on='movieId', how='inner')

filtered_movies = new_data[new_data['count'] > 50]

In [20]:
filtered_movies

,movieId,title,genres,count,mean_rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,110,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,52,3.259615
5,6,Heat (1995),Action|Crime|Thriller,102,3.946078
6,7,Sabrina (1995),Comedy|Romance,54,3.185185
...,...,...,...,...,...
8287,106782,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,54,3.916667
8354,109374,"Grand Budapest Hotel, The (2014)",Comedy|Drama,52,3.778846
8358,109487,Interstellar (2014),Sci-Fi|IMAX,73,3.993151
8457,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,59,4.050847
8673,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,54,3.833333

In [21]:
most_popular_movie = filtered_movies.loc[filtered_movies['mean_rating'].idxmax()]
most_popular_movie

movieId                                     318
title          Shawshank Redemption, The (1994)
genres                              Crime|Drama
count                                       317
mean_rating                            4.429022
Name: 277, dtype: object

In [22]:
top_5_popmov = filtered_movies.sort_values(by='count', ascending=False).head(5)

In [23]:
top_5_popmov

,movieId,title,genres,count,mean_rating
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War,329,4.164134
277,318,"Shawshank Redemption, The (1994)",Crime|Drama,317,4.429022
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307,4.197068
510,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279,4.161290
1938,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278,4.192446

In [24]:
top_5_popmov[['title', 'count', 'mean_rating']]

                                 title  count  mean_rating
314                Forrest Gump (1994)    329     4.164134
277   Shawshank Redemption, The (1994)    317     4.429022
257                Pulp Fiction (1994)    307     4.197068
510   Silence of the Lambs, The (1991)    279     4.161290
1938                Matrix, The (1999)    278     4.192446

In [25]:
data_Scifi = ratings.groupby('movieId').agg(count=('rating', 'count'), mean_rating=('rating', 'mean')).reset_index()

In [26]:
data_Scifi

      movieId  count  mean_rating
0           1    215     3.920930
1           2    110     3.431818
2           3     52     3.259615
3           4      7     2.357143
4           5     49     3.071429
...       ...    ...          ...
9719   193581      1     4.000000
9720   193583      1     3.500000
9721   193585      1     3.500000
9722   193587      1     3.500000
9723   193609      1     4.000000

[9724 rows x 3 columns]

In [27]:
mergedscifi = pd.merge(movie, grouped_ratings, on='movieId', how='inner')

In [28]:
mergedscifi

,movieId,title,genres,count,mean_rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,110,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,52,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,7,2.357143
4,5,Father of the Bride Part II (1995),Comedy,49,3.071429
...,...,...,...,...,...
9719,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,1,4.000000
9720,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,1,3.500000
9721,193585,Flint (2017),Drama,1,3.500000
9722,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,1,3.500000
9723,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1,4.000000

In [29]:
filtered_movies = mergedscifi[mergedscifi['count'] > 50]
sci_fi_movies = filtered_movies[filtered_movies['genres'].str.contains('Sci-Fi')]

In [30]:
filtered_movies

,movieId,title,genres,count,mean_rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,110,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,52,3.259615
5,6,Heat (1995),Action|Crime|Thriller,102,3.946078
6,7,Sabrina (1995),Comedy|Romance,54,3.185185
...,...,...,...,...,...
8287,106782,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,54,3.916667
8354,109374,"Grand Budapest Hotel, The (2014)",Comedy|Drama,52,3.778846
8358,109487,Interstellar (2014),Sci-Fi|IMAX,73,3.993151
8457,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,59,4.050847
8673,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,54,3.833333

In [31]:
sci_fi_movies

,movieId,title,genres,count,mean_rating
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,177,3.983051
133,160,Congo (1995),Action|Adventure|Mystery|Sci-Fi,57,2.877193
144,172,Johnny Mnemonic (1995),Action|Sci-Fi|Thriller,53,2.679245
145,173,Judge Dredd (1995),Action|Crime|Sci-Fi,62,2.669355
176,208,Waterworld (1995),Action|Adventure|Sci-Fi,115,2.913043
...,...,...,...,...,...
7675,89745,"Avengers, The (2012)",Action|Adventure|Sci-Fi|IMAX,69,3.869565
7749,91500,The Hunger Games (2012),Action|Adventure|Drama|Sci-Fi|Thriller,54,3.435185
8358,109487,Interstellar (2014),Sci-Fi|IMAX,73,3.993151
8457,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,59,4.050847
8673,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,54,3.833333

In [32]:
sorted_sci_fi_movies = sci_fi_movies.sort_values(by='count', ascending=False)

In [33]:
sorted_sci_fi_movies

,movieId,title,genres,count,mean_rating
1938,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278,4.192446
224,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,251,4.231076
418,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,238,3.750000
507,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,224,3.970982
897,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,211,4.215640
...,...,...,...,...,...
8673,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,54,3.833333
144,172,Johnny Mnemonic (1995),Action|Sci-Fi|Thriller,53,2.679245
2028,2701,Wild Wild West (1999),Action|Comedy|Sci-Fi|Western,53,2.207547
559,673,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...,53,2.707547
6192,45499,X-Men: The Last Stand (2006),Action|Sci-Fi|Thriller,52,3.355769

In [34]:
ans = sorted_sci_fi_movies.iloc[2]

In [35]:
ans

movieId                                     480
title                      Jurassic Park (1993)
genres         Action|Adventure|Sci-Fi|Thriller
count                                       238
mean_rating                                3.75
Name: 418, dtype: object

In [36]:
# links

In [37]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import time

In [38]:
links = pd.read_csv('links.csv')

In [72]:
movie_links = pd.merge(filtered_movies, links, on='movieId')

In [73]:
movie_links

,movieId,title,genres,count,mean_rating,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.920930,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,110,3.431818,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,52,3.259615,113228,15602.0
3,6,Heat (1995),Action|Crime|Thriller,102,3.946078,113277,949.0
4,7,Sabrina (1995),Comedy|Romance,54,3.185185,114319,11860.0
...,...,...,...,...,...,...,...
431,106782,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,54,3.916667,993846,106646.0
432,109374,"Grand Budapest Hotel, The (2014)",Comedy|Drama,52,3.778846,2278388,120467.0
433,109487,Interstellar (2014),Sci-Fi|IMAX,73,3.993151,816692,157336.0
434,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,59,4.050847,2015381,118340.0
435,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,54,3.833333,1431045,293660.0

In [74]:
movie_links['title'].unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       'Heat (1995)', 'Sabrina (1995)', 'GoldenEye (1995)',
       'American President, The (1995)', 'Casino (1995)',
       'Sense and Sensibility (1995)',
       'Ace Ventura: When Nature Calls (1995)', 'Get Shorty (1995)',
       'Leaving Las Vegas (1995)',
       'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)', 'Babe (1995)',
       'Dead Man Walking (1995)', 'Clueless (1995)',
       'Seven (a.k.a. Se7en) (1995)', 'Pocahontas (1995)',
       'Usual Suspects, The (1995)', "Mr. Holland's Opus (1995)",
       'From Dusk Till Dawn (1996)', 'Broken Arrow (1996)',
       'Happy Gilmore (1996)', 'Braveheart (1995)', 'Taxi Driver (1976)',
       'Birdcage, The (1996)', 'Bad Boys (1995)', 'Apollo 13 (1995)',
       'Batman Forever (1995)', 'Casper (1995)', 'Congo (1995)',
       'Crimson Tide (1995)', 'Desperado (1995)',
       'Die Hard: With a Vengeance (1995)', 'First Knight (1995)',
       'Johnny Mnemonic (1995)', 'Judge Dredd (1995)', 'Net, The (1995)',
       'Waterworld (1995)', 'Clerks (1994)', 'Disclosure (1994)',
       'Dumb & Dumber (Dumb and Dumber) (1994)', 'Ed Wood (1994)',
       'Interview with the Vampire: The Vampire Chronicles (1994)',
       'Star Wars: Episode IV - A New Hope (1977)',
       'Legends of the Fall (1994)', 'Natural Born Killers (1994)',
       'Outbreak (1995)',
       'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
       'Pulp Fiction (1994)', 'Quiz Show (1994)', 'Stargate (1994)',
       'Santa Clause, The (1994)', 'Shawshank Redemption, The (1994)',
       'Star Trek: Generations (1994)',
       "What's Eating Gilbert Grape (1993)",
       'While You Were Sleeping (1995)',
       'Ace Ventura: Pet Detective (1994)',
       'Clear and Present Danger (1994)', 'Client, The (1994)',
       'Crow, The (1994)', 'Forrest Gump (1994)',
       'Four Weddings and a Funeral (1994)', 'Lion King, The (1994)',
       'Mask, The (1994)', 'Maverick (1994)',
       'Naked Gun 33 1/3: The Final Insult (1994)', 'Speed (1994)',
       'True Lies (1994)', 'Addams Family Values (1993)',
       'Beverly Hills Cop III (1994)',
       "City Slickers II: The Legend of Curly's Gold (1994)",
       'Cliffhanger (1993)', 'Coneheads (1993)', 'Dave (1993)',
       'Demolition Man (1993)', 'Firm, The (1993)',
       'Fugitive, The (1993)', 'Hot Shots! Part Deux (1993)',
       'In the Line of Fire (1993)', 'Jurassic Park (1993)',
       'Last Action Hero (1993)', 'Mrs. Doubtfire (1993)',
       'Philadelphia (1993)', 'Piano, The (1993)',
       'Robin Hood: Men in Tights (1993)', "Schindler's List (1993)",
       'Sleepless in Seattle (1993)', 'Blade Runner (1982)',
       'Nightmare Before Christmas, The (1993)',
       'Three Musketeers, The (1993)', 'Tombstone (1993)',
       'True Romance (1993)', 'Home Alone (1990)', 'Ghost (1990)',
       'Aladdin (1992)', 'Terminator 2: Judgment Day (1991)',
       'Dances with Wolves (1990)', 'Batman (1989)',
       'Silence of the Lambs, The (1991)',
       'Snow White and the Seven Dwarfs (1937)',
       'Beauty and the Beast (1991)', 'Pinocchio (1940)',
       'Pretty Woman (1990)', 'Fargo (1996)',
       'Mission: Impossible (1996)', 'Dragonheart (1996)',
       'Space Jam (1996)', 'Truth About Cats & Dogs, The (1996)',
       'Rock, The (1996)', 'Twister (1996)',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
       'Trainspotting (1996)', 'Independence Day (a.k.a. ID4) (1996)',
       'Cable Guy, The (1996)', 'Eraser (1996)',
       'Nutty Professor, The (1996)', 'Godfather, The (1972)',
       'Vertigo (1958)', 'Rear Window (1954)',
       'North by Northwest (1959)', 'Casablanca (1942)',
       'Wizard of Oz, The (1939)', 'Citizen Kane (1941)',
       '2001: A Space Odyssey (1968)', "It's a Wonderful Life (1946)",
       'Mary Poppins (1964)', 'Sound of Music, The (1965)',
       'Die Hard (1988)', 'Willy Wonka & the Chocolate Factory (1971)',
       'Fish Called Wanda, A (1988)',
       "Monty Python's Life of Brian (1979)", 'Reservoir Dogs (1992)',
       'Platoon (1986)', 'E.T. the Extra-Terrestrial (1982)',
       'Top Gun (1986)', 'Abyss, The (1989)',
       'Monty Python and the Holy Grail (1975)',
       'Wallace & Gromit: The Wrong Trousers (1993)',
       "One Flew Over the Cuckoo's Nest (1975)",
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Princess Bride, The (1987)',
       'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
       'Brazil (1985)', 'Aliens (1986)',
       'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)',
       '12 Angry Men (1957)', 'Clockwork Orange, A (1971)',
       'To Kill a Mockingbird (1962)', 'Apocalypse Now (1979)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Goodfellas (1990)', 'Alien (1979)', 'Army of Darkness (1993)',
       'Psycho (1960)', 'Blues Brothers, The (1980)',
       'Godfather: Part II, The (1974)', 'Full Metal Jacket (1987)',
       'Amadeus (1984)', 'Annie Hall (1977)', 'Sting, The (1973)',
       'Terminator, The (1984)', 'Dead Poets Society (1989)',
       'Graduate, The (1967)', 'Chinatown (1974)', 'Shining, The (1980)',
       'Stand by Me (1986)', 'Groundhog Day (1993)',
       'Back to the Future (1985)', 'Cool Hand Luke (1967)',
       'Young Frankenstein (1974)', 'Fantasia (1940)',
       'This Is Spinal Tap (1984)',
       'Indiana Jones and the Last Crusade (1989)',
       'Field of Dreams (1989)',
       'Butch Cassidy and the Sundance Kid (1969)',
       'When Harry Met Sally... (1989)',
       'Star Trek: First Contact (1996)', 'Die Hard 2 (1990)',
       'Star Trek II: The Wrath of Khan (1982)', 'Batman Returns (1992)',
       'Grease (1978)', 'Jaws (1975)', 'Mars Attacks! (1996)',
       'Jerry Maguire (1996)', 'Raising Arizona (1987)', 'Scream (1996)',
       'Donnie Brasco (1997)', 'Liar Liar (1997)',
       'Grosse Pointe Blank (1997)',
       'Austin Powers: International Man of Mystery (1997)',
       'Fifth Element, The (1997)',
       'Lost World: Jurassic Park, The (1997)', 'Con Air (1997)',
       'Face/Off (1997)', 'Men in Black (a.k.a. MIB) (1997)',
       'Contact (1997)', 'Air Force One (1997)',
       'Hunt for Red October, The (1990)', 'L.A. Confidential (1997)',
       'Game, The (1997)', 'Chasing Amy (1997)', 'Full Monty, The (1997)',
       "The Devil's Advocate (1997)", 'Gattaca (1997)',
       'Starship Troopers (1997)', 'Truman Show, The (1998)',
       'Good Will Hunting (1997)', 'Titanic (1997)',
       'Big Lebowski, The (1998)', 'Wedding Singer, The (1998)',
       'As Good as It Gets (1997)', 'Armageddon (1998)',
       "There's Something About Mary (1998)", 'Rocky (1976)',
       'Rain Man (1988)', 'Breakfast Club, The (1985)',
       'Exorcist, The (1973)', 'Lethal Weapon (1987)',
       'Goonies, The (1985)', 'Mask of Zorro, The (1998)',
       'Back to the Future Part II (1989)',
       'Back to the Future Part III (1990)', 'Saving Private Ryan (1998)',
       'Honey, I Shrunk the Kids (1989)', 'Jungle Book, The (1967)',
       'Lady and the Tramp (1955)', 'Little Mermaid, The (1989)',
       'Splash (1984)', 'Indiana Jones and the Temple of Doom (1984)',
       'Blade (1998)', 'Beetlejuice (1988)', 'Untouchables, The (1987)',
       'Few Good Men, A (1992)', 'Edward Scissorhands (1990)',
       'My Cousin Vinny (1992)', 'Pleasantville (1998)',
       'Life Is Beautiful (La Vita è bella) (1997)',
       'American History X (1998)', 'Enemy of the State (1998)',
       "Bug's Life, A (1998)", 'Rushmore (1998)',
       'Shakespeare in Love (1998)', 'Romancing the Stone (1984)',
       'Crocodile Dundee (1986)', 'Office Space (1999)',
       'Planet of the Apes (1968)',
       'Lock, Stock & Two Smoking Barrels (1998)', 'Matrix, The (1999)',
       '10 Things I Hate About You (1999)', 'Election (1999)',
       'Mummy, The (1999)',
       'Star Wars: Episode I - The Phantom Menace (1999)',
       'Superman (1978)', 'Rocky Horror Picture Show, The (1975)',
       'Notting Hill (1999)',
       'Austin Powers: The Spy Who Shagged Me (1999)',
       'Run Lola Run (Lola rennt) (1998)', 'Arachnophobia (1990)',
       'South Park: Bigger, Longer and Uncut (1999)',
       'Wild Wild West (1999)', 'American Pie (1999)',
       'Blair Witch Project, The (1999)', 'Eyes Wide Shut (1999)',
       'Ghostbusters (a.k.a. Ghost Busters) (1984)',
       'Sixth Sense, The (1999)', 'Airplane! (1980)', 'Big (1988)',
       'Christmas Story, A (1983)', 'American Beauty (1999)',
       'Total Recall (1990)', "Ferris Bueller's Day Off (1986)",
       'Goldfinger (1964)', 'Fight Club (1999)', 'RoboCop (1987)',
       'Who Framed Roger Rabbit? (1988)', 'Being John Malkovich (1999)',
       'Spaceballs (1987)', 'Dogma (1999)', 'Sleepy Hollow (1999)',
       'Toy Story 2 (1999)', 'Green Mile, The (1999)', 'Magnolia (1999)',
       'Galaxy Quest (1999)', "Wayne's World (1992)",
       'Erin Brockovich (2000)', 'Animal House (1978)',
       'Close Encounters of the Third Kind (1977)',
       'High Fidelity (2000)', 'Hook (1991)', 'Predator (1987)',
       'American Psycho (2000)', 'Caddyshack (1980)', 'Gladiator (2000)',
       'Mission: Impossible II (2000)', 'Blazing Saddles (1974)',
       'Gone in 60 Seconds (2000)', 'Chicken Run (2000)',
       'Patriot, The (2000)', 'X-Men (2000)', 'Almost Famous (2000)',
       'Best in Show (2000)', 'Meet the Parents (2000)',
       'Requiem for a Dream (2000)', "Charlie's Angels (2000)",
       'Unbreakable (2000)',
       'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
       'Snatch (2000)', 'What Women Want (2000)', 'Cast Away (2000)',
       'Miss Congeniality (2000)', 'O Brother, Where Art Thou? (2000)',
       'Traffic (2000)', 'Memento (2000)', 'Blow (2001)',
       "Bridget Jones's Diary (2001)", 'Scarface (1983)', 'Shrek (2001)',
       'Moulin Rouge (2001)', 'A.I. Artificial Intelligence (2001)',
       'Legally Blonde (2001)', 'Others, The (2001)',
       'Training Day (2001)', 'Zoolander (2001)',
       'Mulholland Drive (2001)', 'Donnie Darko (2001)',
       'Monsters, Inc. (2001)',
       "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
       "Ocean's Eleven (2001)",
       "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
       'Royal Tenenbaums, The (2001)',
       'Lord of the Rings: The Fellowship of the Ring, The (2001)',
       'Beautiful Mind, A (2001)', 'Ice Age (2002)',
       'My Big Fat Greek Wedding (2002)', 'Spider-Man (2002)',
       'Star Wars: Episode II - Attack of the Clones (2002)',
       'Bourne Identity, The (2002)', 'Minority Report (2002)',
       'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
       'Austin Powers in Goldmember (2002)', 'Signs (2002)',
       'Spirited Away (Sen to Chihiro no kamikakushi) (2001)',
       'Bowling for Columbine (2002)',
       'Harry Potter and the Chamber of Secrets (2002)',
       'Lord of the Rings: The Two Towers, The (2002)',
       'Gangs of New York (2002)', 'Catch Me If You Can (2002)',
       'City of God (Cidade de Deus) (2002)', 'X2: X-Men United (2003)',
       'Matrix Reloaded, The (2003)', 'Bruce Almighty (2003)',
       'Finding Nemo (2003)', 'Italian Job, The (2003)',
       '28 Days Later (2002)',
       'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
       'Lost in Translation (2003)', 'School of Rock (2003)',
       'Mystic River (2003)', 'Kill Bill: Vol. 1 (2003)',
       'Matrix Revolutions, The (2003)', 'Love Actually (2003)',
       'Last Samurai, The (2003)', 'Big Fish (2003)',
       'Lord of the Rings: The Return of the King, The (2003)',
       'Eternal Sunshine of the Spotless Mind (2004)',
       'Kill Bill: Vol. 2 (2004)', 'Shrek 2 (2004)',
       'Harry Potter and the Prisoner of Azkaban (2004)',
       'Spider-Man 2 (2004)',
       'Anchorman: The Legend of Ron Burgundy (2004)', 'I, Robot (2004)',
       'Bourne Supremacy, The (2004)', 'Shaun of the Dead (2004)',
       'Incredibles, The (2004)', 'Million Dollar Baby (2004)',
       'Charlie and the Chocolate Factory (2005)', 'Sin City (2005)',
       'Star Wars: Episode III - Revenge of the Sith (2005)',
       'Mr. & Mrs. Smith (2005)', 'Batman Begins (2005)',
       'Wedding Crashers (2005)', '40-Year-Old Virgin, The (2005)',
       'Harry Potter and the Goblet of Fire (2005)',
       'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
       'V for Vendetta (2006)', 'X-Men: The Last Stand (2006)',
       "Pirates of the Caribbean: Dead Man's Chest (2006)",
       'Little Miss Sunshine (2006)',
       'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
       "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
       'Departed, The (2006)', 'Children of Men (2006)',
       'Prestige, The (2006)', 'Casino Royale (2006)',
       'Blood Diamond (2006)', 'Ratatouille (2007)', 'Hot Fuzz (2007)',
       '300 (2007)', 'Knocked Up (2007)',
       "Pirates of the Caribbean: At World's End (2007)",
       'Harry Potter and the Order of the Phoenix (2007)',
       'Bourne Ultimatum, The (2007)', 'Superbad (2007)',
       'No Country for Old Men (2007)', 'I Am Legend (2007)',
       'Juno (2007)', 'Dark Knight, The (2008)', 'Iron Man (2008)',
       'Kung Fu Panda (2008)', 'WALL·E (2008)',
       'Slumdog Millionaire (2008)', 'Inglourious Basterds (2009)',
       'Star Trek (2009)', 'Up (2009)', 'Hangover, The (2009)',
       'Harry Potter and the Half-Blood Prince (2009)',
       'District 9 (2009)', 'Zombieland (2009)', 'Avatar (2009)',
       'Sherlock Holmes (2009)', 'Shutter Island (2010)',
       'How to Train Your Dragon (2010)', 'Toy Story 3 (2010)',
       'Inception (2010)', 'Social Network, The (2010)',
       "King's Speech, The (2010)", 'Avengers, The (2012)',
       'The Hunger Games (2012)', 'Dark Knight Rises, The (2012)',
       'Django Unchained (2012)', 'Wolf of Wall Street, The (2013)',
       'Grand Budapest Hotel, The (2014)', 'Interstellar (2014)',
       'Guardians of the Galaxy (2014)', 'Deadpool (2016)'], dtype=object)

In [75]:
data = movie_links[['title','imdbId']]

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the base URL for IMDb reviews
base_url = "https://www.imdb.com/title/tt"

def scrape_imdb_reviews(imdb_url):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36',
        'Accept-Language': 'en-US,en;q=0.9'
    }
    reviews = []
    try:
        response = requests.get(imdb_url, headers=headers)
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            review_elements = soup.find_all('div', class_='lister-item mode-detail imdb-user-review collapsable')
            for review in review_elements:
                title_element = review.find('a', class_='title')
                title = title_element.get_text(strip=True) if title_element else 'No title'
                
                rating_element = review.find('span', class_='rating-other-user-rating')
                rating_value = rating_element.find('span').get_text(strip=True) if rating_element else 'N/A'
                
                review_text_element = review.find('div', class_='text show-more__control')
                review_text = review_text_element.get_text(strip=True) if review_text_element else 'No review text'

                reviews.append({
                    'title': title,
                    'rating': rating_value,
                    'review_text': review_text
                })
        else:
            print(f"Request failed with status code {response.status_code} for URL: {imdb_url}")
    except Exception as e:
        print(f"Error occurred: {e}")
    
    return reviews

# Load movie data
movie_links = pd.DataFrame(data)
all_reviews = []

# Scrape reviews for each movie
for _, row in movie_links.iterrows():
    imdb_id = row['imdbId']
    imdb_id_str = str(imdb_id).zfill(7)
    imdb_url = f"{base_url}{imdb_id_str}/reviews/?ref_=tt_ov_rt"
    print(f"Scraping URL: {imdb_url}")
    reviews = scrape_imdb_reviews(imdb_url)
    if reviews:
        for review in reviews:
            all_reviews.append({
                'movie_title': row['title'],
                'review_title': review['title'],
                'rating': review['rating'],
                'review_text': review['review_text']
            })
    else:
        all_reviews.append({
            'movie_title': row['title'],
            'review_title': 'No reviews found',
            'rating': 'N/A',
            'review_text': 'No reviews found or class name may have changed.'
        })

# Convert to DataFrame and save as CSV
df_reviews = pd.DataFrame(all_reviews)
df_reviews.to_csv('imdb_reviews_all.csv', index=False)
print("Reviews have been saved to imdb_reviews_all.csv")

Scraping URL: https://www.imdb.com/title/tt0114709/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113497/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113228/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113277/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0114319/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113189/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112346/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112641/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0114388/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112281/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113161/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113627/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0114746/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112431/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112818/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112697/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0114369/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0114148/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0114814/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113862/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0116367/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0115759/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0116483/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112573/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0075314/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0115685/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112442/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112384/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112462/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112642/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112715/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112740/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112851/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0112864/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113071/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113481/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113492/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0113957/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0114898/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109445/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109635/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109686/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109707/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0110148/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0076759/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0110322/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0110632/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0114069/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0110413/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0110912/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0110932/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0111282/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0111070/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0111161/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0111280/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0108550/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0114924/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109040/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109444/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109446/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109506/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109830/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109831/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0110357/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0110475/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0110478/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0110622/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0111257/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0111503/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0106220/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109254/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0109439/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0106582/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0106598/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0106673/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0106697/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0106918/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0106977/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0107144/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0107206/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0107290/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0107362/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0107614/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0107818/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0107822/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0107977/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0108052/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0108160/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0083658/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0107688/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0108333/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0108358/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0108399/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0099785/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0099653/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0103639/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0103064/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0099348/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0096895/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0102926/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0029583/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0101414/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0032910/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0100405/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0116282/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0117060/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0116136/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0117705/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0117979/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0117500/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0117998/reviews/?ref_=tt_ov_rt

Scraping URL: https://www.imdb.com/title/tt0057012/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0117951/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0116629/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0115798/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0116213/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0117218/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0068646/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0052357/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0047396/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0053125/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0034583/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0032138/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0033467/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0062622/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0038650/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0058331/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0059742/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0095016/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0067992/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0095159/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0079470/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0105236/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0091763/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0083866/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0092099/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0096754/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0071853/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0108598/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0073486/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0080684/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0093779/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0082971/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0088846/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0090605/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0060196/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0050083/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0066921/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0056592/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0078788/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0086190/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0099685/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0078748/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0106308/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0054215/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0080455/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0071562/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0093058/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0086879/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0075686/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0070735/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0088247/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0097165/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0061722/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0071315/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0081505/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0092005/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0107048/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0088763/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0061512/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0072431/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0032455/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0088258/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0097576/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0097351/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0064115/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0098635/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0117731/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0099423/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0084726/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0103776/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0077631/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0073195/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0116996/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0116695/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0093822/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0117571/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119008/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119528/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119229/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0118655/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119116/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119567/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0118880/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119094/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119654/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0118884/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0118571/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0099810/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119488/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119174/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0118842/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119164/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0118971/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119177/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0120201/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0120382/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119217/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0120338/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0118715/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0120888/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0119822/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0120591/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0129387/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0075148/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0095953/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0088847/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0070047/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0093409/reviews/?ref_=tt_ov_rt
Scraping URL: https://www.imdb.com/title/tt0089218/reviews/?ref_=tt_ov_rt

In [70]:
data_final = pd.read_csv('imdb_reviews.csv')

In [71]:
data_final

,movie_title,review_title,rating,review_text
0,Toy Story (1995),"Created a decade ago, but still stunning",9.0,I am a big fan of the animated movies coming f...
1,Toy Story (1995),Plastic Fantastic.,9.0,"Y'know, I always suspected that my toys were c..."
2,Toy Story (1995),Proof that Pixar not only cares about the qual...,9.0,Though I am not a big fan of computer animatio...
3,Toy Story (1995),Technically impressive with great script and s...,NaN,Andy's toys live a reasonable life of fun and ...
4,Toy Story (1995),"Excellent Viewing, Every Time!",10.0,This is a very clever animated story that was ...
...,...,...,...,...
96,Sabrina (1995),Cinderella has nothing on her,9.0,I was surprised at how good this movie is. A r...
97,Sabrina (1995),Lacking a likable lead,6.0,"The movie is pretty good, and there's nothing ..."
98,Sabrina (1995),Bad remake,4.0,Harrison Ford takes on the Humphrey Bogart rol...
99,Sabrina (1995),Sabrina is one of the finest movies I've seen...,10.0,"Many won't agree, and the critics may have pan..."
100,Sabrina (1995),An Enjoyable Remake,7.0,This remake of a Billy Wilder film is directed...